{
  "endOfLine": "auto",
  "spaceBeforeFunctionParen": true,
  "printWidth": 80,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true
}
