extends baseEmail

block content
  p Hi #{firstName},
  p Thanks for joining The Symphonia artists (best artists in the world).
  p We hope you enjoy yourself with us and share your art with the all our users.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Activate account
